@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #0A2E36;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  background-color: #f9f9f9;
  color: #0A2E36;
  padding: 60px 20px;
  text-align: center;
  animation: fadeInDown 1.2s ease-in-out;
}

.header h1 {
  font-weight: 700;
  margin: 0;
  font-size: 2.5em;
  letter-spacing: 2px;
  color: black;
}

.nav {
  background-color: #f9f9f9;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  transition: max-height 0.3s;
}

.nav a {
  color: #0A2E36;
  padding: 16px 30px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: 600;
  position: relative;
}

.nav a:hover {
  transform: scale(1.1);
}

.nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: rgb(0, 0, 0);
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.nav a:hover::after {
  width: 100%;
}

.menu-icon {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.section {
  margin: 30px auto;
  padding: 30px;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  max-width: 1200px;
  transition: transform 0.5s, box-shadow 0.5s;
}

.section:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h2, h3 {
  font-weight: 600;
  color: #0A2E36;
}

h2 i, h3 i {
  margin-right: 10px;
  color: #0A2E36;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 15px;
  font-size: 1.2em;
}

ul li a {
  color: #0A2E36;
  text-decoration: none;
  transition: color 0.3s, text-shadow 0.3s;
}

ul li a:hover {
  color: #1b998b;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.projects-container, .skills-container, .repos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card, .skill-card, .repo-card {
  border-radius: 15px;
  border: 1px solid #e0e0e0;
  padding: 20px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  background: white;
  transition: transform 0.5s, box-shadow 0.5s;
}

.project-card:hover, .skill-card:hover, .repo-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.project-card img, .skill-card img, .repo-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.skill-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-card h3, .skill-card h3, .repo-card h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.project-card p, .skill-card p, .repo-card p {
  font-size: 1.1em;
}

.footer {
  background-color: white;
  color: #0A2E36;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);

}

.footer p {
  margin: 0;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeInDown 1s ease-in-out;
}

@media (max-width: 768px) {
  .project-card, .skill-card, .repo-card {
    width: calc(50% - 20px);
  }

  .nav {
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
  }

  .menu-icon {
    display: block;
  }

  .nav.open {
    max-height: 500px; /* Adjust as needed */
  }
}

@media (max-width: 600px) {
  .project-card, .skill-card, .repo-card {
    width: 100%;
  }

  .nav a {
    padding: 12px 0;
    font-size: 1em;
  }

  .section {
    margin: 20px 10px;
    padding: 20px;
  }
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #0A2E36;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#scrollToTopBtn:hover {
  background-color: #333;
}
a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(5, 5, 5, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: rgba(5, 5, 5, 0.5);
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}