@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #007bff;
  --text-color: #343a40;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dbd8d8;
  color: var(--text-color);
}

.container {
  width: 80%;
  margin: 0 auto;
}

header, footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px 0;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.section {
  padding: 50px 0;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

.project {
  margin-bottom: 20px;
}

.social-links {
  padding: 0;
  list-style: none;
}

.social-links li {
  display: inline;
  margin-right: 10px;
}

.social-links li a {
  color: #000000;
  text-decoration: none;
}

/* Animación */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
